name: Build and push docker image

on:
  push:
    branches: ["main"]
    paths:
      [
        "src/**",
        "Dockerfile",
        "Cargo.toml",
        ".github/workflows/build-and-push-docker-image.yml",
        "!**.md",
        "!docs/**",
      ]
    tags: ["v*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.sha }}

jobs:
  build:
    runs-on: blacksmith-4vcpu-ubuntu-2204

    permissions:
      attestations: write
      id-token: write
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up docker buildx
        uses: useblacksmith/setup-docker-builder@v1

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/sequinsbio/sequintools
          tags: |
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}
            type=semver,pattern={{raw}}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute version string
        id: version
        run: |
          if git describe --tags --dirty --always > /dev/null 2>&1; then
            V=$(git describe --tags --dirty --always)
          else
            V=${GITHUB_SHA::7}
          fi
          echo "git_version=$V" >> $GITHUB_OUTPUT
          echo "Computed version: $V"

      - name: Build and Push Docker Image
        uses: useblacksmith/build-push-action@v2
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            SEQUINTOOLS_GIT_VERSION=${{ steps.version.outputs.git_version }}
